body {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}
.portrait {
	text-align: center;
}

.portrait img {
	border-radius: 50%;
	width: 75%;
}
